doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Express test
  body
    h1 Enter a name
    form(method="post", action="/")
      label(for="myName") Name:
      input(type="text", name="myName")
      input(type="submit", value="Send")
    if(message)
      h2 #{message}
    